<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="about-content py-5">
                <h1>Meet Our Team</h1>
                <h3>Experienced players all around the world</h3>
                <p class="py-2">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                 making this the first true generator on the Internet.</p>
                
                 <button type="button" class="btn btn-outline-danger">Join Our Team</button>
            </div>

        </div>
        <div class="col-lg-6 col-md-12">
            <div class="about-img">
                <img src="../../assets/team.jpg" class="img-fluid">
            </div>

        </div>
    </div>
</div>
