<footer  id="footer">
    <div  class="container">
        <div  class="col-md-8 m-auto">
            <div  class="text-center">
                <p  class="text-white m-0 py-3">© 2020 | Made with Love 
                    <span>
                        <i  class="fab fa-facebook p-3">

                        </i>
                    </span>
                    <span>
                        <i class="fab fa-twitter"></i>
                    </span>
                </p>
            </div>
        </div>
    </div>
</footer>