<section class="expertise py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="vedio-3">
                    <iframe _ngcontent-hfe-c4="" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/J0uzhptIFLw" width="560">
                    </iframe>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="content pl-5">
                <h1>OUR EXPERTISE</h1>
                <h3>Gamers around the world join us to promote one clan</h3>
                <p class="py-2">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                 making this the first true generator on the Internet.</p>
                 <button type="button" class="btn btn-outline-secondary">Join Our Team</button>

                </div>
            </div>
        </div>
    </div>
</section>