
<!--=========================================start Header Area==================================================-->
<header class="header_area">
    <div class="main_menu">
        <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">Game ON</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <div class="mr-auto"></div>
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link"   routerLink="/home" href="#">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/about-us" href="#">OUR TEAM</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/ourexpertise" href="#">OUR EXPERTISE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="join-us" href="#">JOIN US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/contact" href="#">CONTACT</a>
            </li>
           
          </ul>
        </div>
      </nav>
    </div>
    </div>
  </header>
  <!--=========================================End Header Area==================================================-->

