<section class="contact py-5">
<div class="container py-5">
<div class="row">
<div class="col-md-6">
    <div _ngcontent-hfe-c6="" class="caption ">
        <span _ngcontent-hfe-c6="" class="d-block text-muted">E:hello@gmail.com</span>
        <span _ngcontent-hfe-c6="" class="d-block text-muted">P:+02 XXX XXX</span>
        <p _ngcontent-hfe-c6="" class="text-muted">Drop us a email with your Gamer Nick and we will schedule your Live match with one of our clan member.</p>
    </div>

</div>

<div class="col-md-6">
    <form _ngcontent-hfe-c6="">
        <div _ngcontent-hfe-c6="" class="form-group mt-5">
            <input _ngcontent-hfe-c6="" class="form-control" id="exampleFormControlInput1" placeholder="Enter Name" type="email">
        </div>
        <div _ngcontent-hfe-c6="" class="form-group mt-3">
            <input _ngcontent-hfe-c6="" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email" type="email"></div>
            <div _ngcontent-hfe-c6="" class="form-group mt-3">
                <textarea _ngcontent-hfe-c6="" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter Message" rows="3"></textarea>
            </div>
        <button  class="btn btn-outline-info">Submit</button></form>
</div>

</div>
</div>
</section>
