<div class="title  pt-5" style="text-align:center">
    <h1>
        WHY JOIN US?
      </h1>
     <h3>Experienced players all around the world</h3>
</div>

  <div class="container py-5">
<div >
   
  
      <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide><img src="../../assets/one.jpg"></ng-template>  
      <ng-template carouselSlide><img src="../../assets/two.jpg"></ng-template>  
      <ng-template carouselSlide><img src="../../assets/three.jpg"></ng-template> 
      <ng-template carouselSlide><img src="../../assets/four (2).jpg"></ng-template>  
      <ng-template carouselSlide><img src="../../assets/three.jpg"></ng-template>  
    </owl-carousel-o>
  
</div>